In [4]:
#Recreate the following dataframe by using vectors and the data.frame function

rowname<-c('N12006','N13003','N13042','N14002','N16021')
OL_Ratio<-c(76.2,82.1,78.9,74.3,77.7)
Leaf_spot<-c(5.5,7.2,6.5,4.2,3.1)
Drought<-c(TRUE,FALSE,TRUE,FALSE,FALSE)

In [5]:
dfhw<-data.frame(row.names=rowname,OL_Ratio,Leaf_spot,Drought)

In [6]:
dfhw

       OL_Ratio Leaf_spot Drought
N12006 76.2     5.5        TRUE
N13003 82.1     7.2       FALSE
N13042 78.9     6.5        TRUE
N14002 74.3     4.2       FALSE
N16021 77.7     3.1       FALSE

In [7]:
#Which lines are considered drought tolerant?

subset(dfhw,subset= Drought==TRUE)

       OL_Ratio Leaf_spot Drought
N12006 76.2     5.5       TRUE
N13042 78.9     6.5       TRUE

In [8]:
#Input the peanut_lines (CSV) and peanut_disease (Tab) datafile

library("data.table")
peanut_lines<-fread('peanut_lines.csv')
peanut_disease<-fread('peanut_disease.txt')

In [9]:
#Check the column names of peanut_lines and peanut_disease
colnames(peanut_lines)
colnames(peanut_disease)

[1] "NC_Accession"          "Identity or Parentage" "Pedigree"
[4] "FAG"

[1] "Year"         "Location"     "Name"         "Label"        "NC_Accession"
[6] "Rating"       "Disease"

In [10]:
#Merge peanut_lines and peanut_disease keeping the entirety of the peanut_disease information intact - 
#Name the data frame disease_data


disease_data<-merge(peanut_lines, peanut_disease, by.x = 'NC_Accession', by.y='NC_Accession')

In [11]:
#Subset the disease data to list only ratings for leaf spot ('LS') in a dataframe called leaf.spot

leaf.spot<-subset(disease_data, Rating=='LS')

In [12]:
#Drop all rows that contain missing values in the column 'Disease'

disease_nona<-disease_data[!is.na(disease_data$Disease),]

In [13]:
any(is.na(disease_data))
any(is.na(disease_nona))

[1] TRUE

[1] FALSE

In [23]:
#What was the average leaf spot rating in 2017?
colMeans(subset(leaf.spot, substr(Year,1,4)==2017, select=Disease))

 Disease
7.514687

In [63]:
#Subset the leaf.spot dataframe to include only the following lines
#line_names = 'Bailey', 'Bailey II', 'Wynne', 'Sullivan', 'Emery', 'N96076'


#leaf.spot[leaf.spot$NC_Accession %in% c('Bailey', 'Bailey II', 'Wynne', 'Sullivan', 'Emery', 'N96076')]

In [72]:
subset(leaf.spot, leaf.spot$NC_Accession %in% c('Bailey', 'Bailey II', 'Wynne', 'Sullivan', 'Emery', 'N96076'))

In [101]:
leaf.spot.max <- aggregate(x = leaf.spot, 
                               by = list(max = leaf.spot$Rating), 
                               FUN = max)

In [102]:
leaf.spot.max

  max NC_Accession
1 LS  Wynne
  Identity or Parentage
1 Wynne /3/ X11015 , Wynne // X08054, N08059olFCT / GP-NC WS 16 (SPT 06-06)
  Pedigree              FAG   Year Location Name
1 F2-16-S-04-01-01: F09 ol ol 2018 LEW      ATP-L
  Label                               Rating Disease
1 Advanced Testing Program - Leafspot LS     9.5

In [105]:
install.packages('xlsx',repos="http://cran.rstudio.com/")

also installing the dependencies 'rJava', 'xlsxjars'

package 'rJava' successfully unpacked and MD5 sums checked
package 'xlsxjars' successfully unpacked and MD5 sums checked
package 'xlsx' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\cheph\AppData\Local\Temp\RtmpwzdtIY\downloaded_packages

In [109]:
write.xlsx(leaf.spot.max, "leafspot.xlsx")

ERROR: Error in write.xlsx(leaf.spot.max, "leafspot.xlsx"): could not find function "write.xlsx"